# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
dist/
build/

# Environment
.env
.env.local
.env.production.local
.env.development.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Misc
*.tgz
.eslintcache
.node_repl_history
.npm

/src/generated/prisma
