@import "../../vars.css";

.container {
  font-family: var(--font-body);
  color: var(--color-text);
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10%; /* Reduced padding */
  gap: 25px; /* Reduced gap */
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.text {
  text-align: center;
}

.text h2 {
  font-size: 28px; /* Reduced font size */
  font-weight: 700;
  letter-spacing: 1.5px; /* Adjusted letter spacing */
  margin-bottom: 8px; /* Adjusted margin */
}

.text p {
  font-size: 16px; /* Reduced font size */
  font-weight: 400;
  letter-spacing: 0.5px; /* Adjusted letter spacing */
  margin-bottom: 15px; /* Adjusted margin */
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 15px; /* Reduced gap */
  padding: 0;
}

.link {
  display: flex;
  align-items: center;
  gap: 12px; /* Reduced gap */
  transition: transform 0.3s ease;
}

.link:hover {
  transform: translateX(5px);
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 16px; /* Reduced font size */
  font-weight: 400;
  letter-spacing: 0.5px; /* Adjusted letter spacing */
}

.icon {
  width: 24px; /* Adjusted size */
  height: 24px; /* Adjusted size */
  transition: transform 0.3s ease;
}

.link:hover .icon {
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .container {
    padding: 30px 8%; /* Adjusted padding */
    gap: 20px; /* Adjusted gap */
    border-radius: 0;
  }

  .text h2 {
    font-size: 22px; /* Adjusted font size */
  }

  .text p {
    font-size: 14px; /* Adjusted font size */
    margin-bottom: 8px; /* Adjusted margin */
  }

  .links {
     gap: 18px; /* Adjusted gap */
     align-items: flex-start;
     width: 100%;
     padding: 0;
  }

  .link {
     gap: 15px; /* Adjusted gap */
     width: 100%;
  }

  .link a {
    font-size: 14px; /* Adjusted font size */
    word-break: break-all;
  }

  .icon {
    width: 22px; /* Adjusted size */
    height: 22px; /* Adjusted size */
    flex-shrink: 0;
  }
}