@import "../../vars.css";

.container {
  font-family: var(--font-body);
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden; 
}

.title {
  font-family: var(--font-header);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.carousel {
  display: flex;
  align-items: center;
  position: relative;
}

.projects {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 15px;
  padding: 10px;
  margin: 50px;
  width: 100%;
  scroll-snap-type: x mandatory;
}

.projects::-webkit-scrollbar {
  display: none; 
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-accent); 
  color: #f7f7f7; 
  border: none;
  border-radius: 50%;
  width: 40px; 
  height: 40px;
  font-size: 22px; 
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.prev {
  
}

.next {
  right: 0px;
}

.prev:hover,
.next:hover {
  background-color: var(--color-primary); 
  
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .title {
    font-size: 26px;
    margin-bottom: 15px;
  }

  .carousel {
    position: relative;
  }

  .projects {
    width: 100%;
    padding: 10px 15px; 
    margin: 15px 0;
    gap: 15px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; 
  }
   .projects::-webkit-scrollbar {
     display: none; 
   }


  .prev,
  .next {
     display: none; 
  }

  .projects > div {
     
  }
}