@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 80px;
  margin-left: 5%;
  margin-right: 5%;
}

.title {
  color: var(--color-text);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.historyItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.historyItemDetails {
  font-family: var(--font-roboto);
  color: var(--color-text);
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.organizationImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.role {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.organization {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.dates {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

.experienceList {
  list-style-position: inside;
  font-size: 16px;
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 0;
}

@media screen and (max-width: 560px) {
  .content {
    min-width: 240px;
  }

  .title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .header {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .organizationImage {
    width: 40px;
    height: 40px;
  }

  .role {
    font-size: 20px;
  }

  .organization {
    font-size: 18px;
  }

  .dates {
    font-size: 16px;
  }
}
