@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 rgba(0, 0, 0, 0.2);
  padding: 18px 24px;
  max-width: 300px;
  min-width: 300px;
  scroll-snap-align: start;
}

.image {
  margin-bottom: 26px;
  border-radius: 10px;
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: 900;
  color: var(--color-text);
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text);
  margin: 0;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 14px;
  font-weight: 300;
  border-radius: 20px;
  background: var(--color-dark);
  padding: 6px 12px;
  color: var(--color-text);
  display: flex;
  align-items: center;
  gap: 8px;
}

.skillIcon {
  width: 20px;
  height: 20px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 14px;
  font-weight: 300;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 10px 20px;
  transition: background 0.3s ease, transform 0.3s ease;
}

.link:hover {
  background: var(--color-secondary);
}

@media screen and (max-width: 810px) {
  .container {
    padding: 16px 20px;
    max-width: 100%;
    min-width: unset;
  }

  .image {
    margin-bottom: 20px;
  }

  .title {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .description {
    font-size: 14px;
  }

  .skills {
    margin-top: 12px;
    gap: 4px;
  }

  .skill {
    font-size: 14px;
    padding: 4px 10px;
  }

  .skillIcon {
    width: 18px;
    height: 18px;
  }

  .links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .link {
    font-size: 12px;
    padding: 8px 16px;
    margin-left: 8px;
  }
}
