:root {
    /* Colors */
    --color-text: #2B2D42; 
    --color-bg: #EDF2F4; 
    --color-primary: #D90429; 
    --color-secondary: #6b7382; 
    --color-accent: #EF233C; 

     /* Fonts */
     --font-header: 'Montserrat', sans-serif;
     --font-title: 'Merriweather', serif;
     --font-body: 'Roboto', sans-serif;
}

